html,
body {
    height: 100%;
    overflow-x: hidden;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.site-index .header {
    text-align: center;
    background-color: transparent;
    background-image: url(images/head.jpg);
    background-position: center;
    height: 197px;
}

.site-index .header h1 {
    height: 197px;
    line-height: 197px;
    font-size: 5em;
    color: #974fff;    
    text-shadow: 0px 0px 6px white;
    transition: color 0.5s, text-shadow 0.5s;
}

.site-index .header h1:hover {
    color: #FFFFFF00;
    text-shadow: 0px 0px 10px white;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    height: 197px;
    transition: backdrop-filter 0.5s;
}

.blur:hover {
    backdrop-filter: blur(0px);
}

.not-set {
    color: #c55;
    font-style: italic;
}

.mainmenu .image {
    width: 220px;
    height: 220px;
}

.mainmenu .header {
    display: flex;
}

.toolbar {
    transition: padding .2s;
}

.tollbar-container {
    height: 34px;
}

.toolbar.fixed {
    position: fixed;
    background: white;
    z-index: 100;
    top: 50px;
    padding: 10px;
    border-radius: 0 0 .3em .3em;
    box-shadow: 1px 1px 6px #00000040;
}

.disabled {
    opacity: .5;
    background: #f1f1f1;
}

.btn .glyphicon {
    margin-right: .5em;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

a {
    color: #60016D;
}

a:hover {
    text-decoration: none;
}

.recipes {
    width: 100%;
    display: flex;
}

.recipes .column-one {
    flex: 0 2 100%;
    margin-right: 1em;
}

.recipes .column-two {
    width: 380px;
    background: #00000005;
    flex: 0 1 auto;
}

.recipes .column-two {
    padding: 0.5em;
}

.recipes .item > .item a {
    color: gray;
    padding: 5px 8px;
    border: 1px solid lightgray;
}

.recipes .item > .item a.btn-primary {
    color: white;
}

.recipes .column-two > .item > .head a {
    display: inline-block;
    padding: 0.4em 1em;
    font-size: 1.5em;
} 

.recipes .column-two > .item .item {
    display: inline-block;
    margin: 2px 1px;
    line-height: 2em;
}

.recipe-item.full .recipe-content {
    flex-direction: column;
}


.recipes-list {}

.recipe-item {
    padding: 1em;
}

#recipes-category_ids {
    height: 15em;
}

.recipes .recipe-item .image {
    width: 360px;
    height: 360px;
    flex: 0 0 360px;
}

.basket .image {
    width: 160px;
    height: 160px;
    flex: 0 0 360px;
}

.basket .card-title {
    text-align: left;
}

.basket input[type="number"] {
    width: 5em;
}

.basket .actions {
    margin-top: 10px;
    text-align: right;
}

.basket-footer a.btn {
    float: right;
}

.recipe-content {
    display: flex;
}

.recipe-item .recipe-detail {
    flex: 0 1 100%;
    padding: 0px 10px; 
}

.recipe-item .recipe-detail .description {
    margin-top: 1em;
}

.recipe-item .actions .glyphicon {
    font-size: 18px;
}

.recipe-item.full .image {
    width: 100% !important;
}

.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 1em 0;
}

.card-title {
    margin: 0px 20px 20px;
}

.full .card-title {
    margin: 0px 20px 0px !important;
}

.card-title a {
    color: #586500;
}

.card .image {
    display: flex;
    align-items: center;
    padding-right: 10px;
    background-size: cover;
    background-position: center;
}

.recipe-detail .cook_detail {
    margin: 1em 0px;
}

.recipe-detail .cook_detail > div {
    margin: 0.3em;
}

.recipe-detail span {
    font-weight: bold;
    color: #867b00;
}

.recipes form img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.full .rating-container .rating-stars {
    float: right;
}

.rating-md {
    font-size: 22px;
}

.add-ingredient {
    display: flex;
}

.add-ingredient input.form-control {
    width: calc(100% - 35px) !important;
}

.recipe-detail .ingredients {
    margin: 10px;
}

.recipe-detail .ingredients > div {
    padding: 0 0.5em;
    display: inline-block;
}

.form-group .ingredients {
    margin-bottom: 15px;
    min-width: 450px;
}

.ingredients .alert {
    margin-top: 15px;
    display: none;
}

.units-help {
    padding: 10px 20px !important;
}

.units-help li {
    display: inline-block;
    margin-right: 10px;
}

#recipes-ingredient_ids {
    height: 200px;
}

.ingredients-container {
    height: 12em;
    margin-bottom: 15px;
    padding: 0px;
}

.ingredients-container > .wrapper {
    overflow-y: scroll;
    height: 100%;
    padding: 10px;
}

.ingredients-container td {    
    text-align: left !important;
}

.ingredients-container td:first-child {
    min-width: 250px;
}

.ingredients-container td {
    padding: 4px;
    cursor: pointer;
    text-align: right;
}

.ingredients .unit-select {
    display: none;
    width: 50px;
    height: 24px;
    border: none;
    background-color: #00000000;
    text-align-last: right;
}

.ingredients .unit-input {
    padding-right: 16px;
}

.recipe-detail .source {
    text-align: right;
}

.ingredients .unit-select option {
}

.ingredients-container tr:hover td {
    background-color: #eee;
}

.ingredients-container .ningre {
    background-color: #eee;
    transition: 0.5s background-color;
}

.ingredients-container table {
    width: 100%;
}

.ingredients-container button,
.ingredients-container button:hover,
.ingredients-container button:active {
    outline: none;
    border: none;
}

.ingredients-container .remove {
    width: 24px;
}

.ingredients-container td input {
    width: 4em;
    text-align: right;
    border: 1px solid #00000000;
}

.ingredients-container tr:hover td input {
    border: 1px solid gray;
}

.form-group .stages {
    width: 450px;
}

.stages h4 {
    margin-left: 10px;
}

.form-group .stage {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
}

.form-group .stages > div {
    margin-top: 10px;
    max-height: 800px;
    overflow-y: scroll;
}

#new_stages_button {
    float: right;
}

.stage p {
    margin-top: 15px;
}

.navbar {
    background-color: #6900ffb0;
    border-color: #6e38a7;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.navbar .navbar-nav > .active > a {
    background-color: #7300c1;
}

.container > .navbar-header {
    margin-left: 0px !important;
}

.navbar-header .search-group {
    margin: 7px 0 0 0;
}

.search-group {
    display: flex;
}

#search-input {
    border-radius: 4px 0 0 4px !important;;
    border: 1px solid #80808000;
}

.search-group button {
    border-radius: 0px 4px 4px 0 !important;
}

.search-group span,
.search-group button {
    outline: none !important;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu button:hover {
    color: black !important;
}

.cabinet {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.cabinet .column-one {
    flex: 0 2 100%;
    margin-right: 1em;
}

.cabinet .column-two {
    padding: 5px;
    width: 380px;
    background: #00000005;
    flex: 0 1 auto;
}

.cabinet .menu-item {
    padding: 10px;
}

.cabinet .menu hr {
    margin: 0px;
}

.cabinet .menu .glyphicon {
    margin-right: 0.8em;
}

.cabinet a.menu-item {
    display: block;
}

.cabinet a.menu-item:hover {
    background: gray;
    color: white;
}

.cabinet .menu {
    margin-top: 55px;
}

.cabinet .column-one .menu-item span.glyphicon {
    margin-right: 1em;
    font-size: 1.2em;
}

.cabinet .current {
    background: #FFF473;
}

.cabinet .column-one {
    padding: 1em;
}

.recipe-content .header {
    height: 42px;
}

.recipe-content .header a {
    font-size: 1.4em;
    margin: 12px 3px 0px 0px;
    display: inline-block;
}

.ajax-request span {
    color: #6900ffb0;
}

.ajax-request span.in {
    color: #009406;
}

.recipe-content .header a:hover {
    color: #60016D;
}

.recipe-content .header form {
    display: inline-block;
    float: right;
    margin-bottom: 0px;
}

.consist-list {
    display: flex;
    flex-wrap: wrap;
}

.recipes .recipe-item h3 {
    text-align: center;
    color: #885938;
}

.recipe-item .price input {
    width: 60px;
}

.recipe-item .actions .btn {
    display: none;
}

.consist-block {
    margin-bottom: 10px;
}

.consist-list div {
    margin: 2px 10px;
    white-space: nowrap;
}

.basket-menu-item .count {
    margin-left: 10px;
    background: red;
    border-radius: 8px;
    width: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
    font-size: 9px;
}

input[type="file"].form-control::-webkit-file-upload-button {
    display: none;
}

input[type="file"].form-control:hover::before {
    border-color: none;
}

.image-control {
    text-align: center;
}

.image-control button {
    position:absolute;
    margin-left: -1em;    
}

.image-control img {
    cursor: pointer;
}

form .image-control img {
    max-width: 282px;
    max-height: 282px;
    margin: 1em 0px;
}

.partner-item {
    display: flex;
    padding: 0.2em 1em;
}

.partner-item .parther-title {
    cursor: pointer;    
}

.partner-item .partner-detail {
    margin-left: 1em;
}

.partner-item .image {
    width: 0px;
    height: 10px;
    background-size: cover;
    background-position: center;
    transition: width .1s, height .2s;
}
.partner-detail > div {
    height: 0px;
    overflow-y: hidden;
    transition: height .2s;
}

.partner-item.show .parther-title {
    font-size: 2em;
}

.partner-item.show {
    padding: 1em;
}

.partner-item.pshow .image {
    width: 160px;
    height: 160px;
}

.pshow .partner-detail > div {
    height: 100px;
}

#user_settings-image-view {
}

.truncate {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}

.order {
    padding: 1em;
}

.mainmenu [data-state="0"] {
    display: none;
}

.orders-list .order {
    transition: opacity 0.5s;
}

.orders-list .order:hover {
    opacity: 1;
}

.orders-list [data-state="1"] {
    background: beige;
}

.orders-list [data-state="2"] {
    background: #9fffaf;
}

.orders-list [data-state="3"] {
    opacity: 0.7;
}

.orders-list [data-state="13"],
.orders-list [data-state="4"] {
    opacity: 0.5;
}

.orders-list [data-state="4"]:hover {
    opacity: 1;
}

.orders-list [data-state="12"],
.mainmenu [data-state="12"] {
    background: #80808054;
    opacity: 0.5;
}

.order-items {
    display: flex;
    flex-wrap: wrap;
}

.order-items > div {
    margin: .5em;
    flex: 1 0 170px;
    overflow: hidden;
}


.order-item .image {
    height: 80px;
    flex-direction: column;
}

.partner .order-item .image {
    width: 80px;
}

.partner .order-item td {
    margin-right: 10px;
}

.partner .nomymenu a {
    color: #bab5bb;
}

.partner .nomymenu .image {
    opacity: 0.5;
}

.partner .nomymenu a:hover {
    color: #ca00f3;    
}

.partner .order-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 1em;
    margin-top: 1em;
    height: 60px;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner .order-footer > button {
    float: right;
}

.order-item .image > div {
    text-align: center;
    color: white;
    text-shadow: 0 0 6px black;
}

.order-item .image > div:first-child {
    text-decoration: overline;
}

.partner .order-items {
    display: none;
    background-color: white;
    padding: 5px;
    border: 1px solid #8080804d;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #00000033;
    margin-top: 10px;
}

.order .card-title {
    margin: 0.5em;
    font-weight: bold;
    color: #974fff;
}

.varname {
    font-weight: bold;
    color: #b9b582;
}

.varname {
    padding-right: 1em; 
    text-align: right;
}

input.number {
    width: 8em;
}

.varname::after {
    content: ":";
}

.id-order {
    color: gray;
}

.order .avatar {
    width: 100px;
    height: 100px;
    flex-basis: 100px;
    background-size: cover;
    background-position: center;
}

.order-content {
    display: flex;
    align-items: center;
}

.order-content > div {
    margin: 5px;
}

.order-item .price input {
    display: inline-block;
    width: 4em;
}

form .detail {
    font-size: 12px;
    color: gray;
    margin: -1em 0 1em 0;
}

.noinmm .order-info a.btn {
    color: red;
}

.general-menu {
    width: 100%;
}

.general-menu > div {
    display: flex;
    flex-wrap: wrap;
}

.general-menu .menu-item {
    flex: 1 0 160px;
}

.general-menu > div span.glyphicon {
    font-size: 2em !important;
}

.general-menu .menu-item span {
    display: block;
    text-align: center;
}    

.general-menu span.glyphicon {
    margin-bottom: 15px;
}

.possible {
    color: green;
}

.unpossible {
    color: #808080b0;
}

.admin-block {
    margin-top: 10px;
}

#findorder-form {
}

#map {
    width: 100%;
    height: 300px;
}

#save-mygeolocation {
    display: none;
}

.card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
}

.introduction .card-deck {
    position: absolute;
    left: 1em;
    right: 1em;
    bottom: 80px;
    top: 120px;
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
}

.introduction .card {
    min-width: 200px;
    max-width: 300px;
    margin: 1em;
}

.mb-3 {
    justify-content: space-between;
}

.mb-3 > div {
    box-shadow: 0px 0px 1em #00000024;
    width: 30%;
    display: flex;
    align-content: end;
    flex-direction: column;
    justify-content: space-between;
}

.mb-3 .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.mb-3 .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;   
    display: flex;
    padding: 1.5rem; 
    flex-direction: column;
    justify-content: space-between;
}

.mb-3 .card-body-text {
    min-height: 150px;
    margin: 1rem; 
}

@media screen and (max-width:1200px) {
    .recipes-list .recipe-content {
        flex-direction: column;
    }

    .recipe-item .image {
        width: 100%;
    }

    .recipe-item .card-title {
        text-align: center;
    }
}

@media screen and (max-width:767px) {

    .navbar-collapse.in {
        overflow-y: visible;
    }


    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .recipes .column-one {
        flex: 0 2 100%;
        margin-right: 0;
    }

    .recipes {
        flex-direction: column-reverse;
    }

    .recipes .column-two {
        width: 100%;
        display: none;
    }

    .cabinet {
        flex-direction: column-reverse;
    }

    .cabinet .column-two {
        width: 100%;
    }

    .cabinet .menu {
        margin-top: 0px;
        display: flex;        
        flex-wrap: wrap;
    }

    .cabinet .menu-item {
        text-align: center;
        flex: 1 0;
    }

    .cabinet .menu-item span.glyphicon {
        margin: 0px 0 10px 0px;
        display: block;
    }

}